body {
    background-color: #F0F0F0;
    font-family: Arial, sans-serif;
}

#video-background {
    padding: 5px;
    border: 5px solid #007BFF;
    border-radius: 10px;
    margin-bottom: 5px;
    /*width: 97vw;*/
    height: 96vh;
}


.blue-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007BFF;
    color: #fff;
    transition: background-color 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.blue-button:hover {
    background-color: #0056b3;
}

.selector {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selector span {
    margin: 0 10px;
    font-size: 18px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 5px;
    margin-right: 5px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #007BFF;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #007BFF;
}

input:focus+.slider {
    box-shadow: 0 0 1px #007BFF;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.mp4-file-selector input[type="file"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    outline: none;
    width: 100%;
    max-width: 300px;
}

button[disabled] {
    background-color: #ccc;
    color: #888;
}

/* Style for labels and inputs */
label {
    display: inline-block;
    width: 120px;
    margin-right: 5px;
    text-align: right;
}

select,
input[type="number"] {
    width: 80px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.example-val {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    width: 150px;
    text-align: center;
}

.example-val input[type="number"] {
    width: 50px;
    padding: 2px;
}

#loadingOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    text-align: center;
}

.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
    margin-top: 100px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.progress-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    text-align: center;
}

.progress-container p {
    color: rgba(255, 242, 242, 0.757);
}

#blue-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007BFF;
    color: #fff;
    transition: background-color 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#blue-button:hover {
    background-color: #0056b3;
}

/* Styling for the circular reset button */
#resetButton {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    background-color: #007BFF;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#resetButton:hover {
    background-color: #0056b3;
}

.tooltip-container {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    /* Adjust the margin as needed */
}

.question-mark {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ccc;
    /* Grey circle background color */
    color: #fff;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}

.tooltip-text {
    visibility: hidden;
    width: 150px;
    background-color: rgba(51, 51, 51, 0.904);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

/* Style for the properties container */
#properties {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0 20px 10px ;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f5f5f5;
    display: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.button-container {
    margin: 5px;
    padding: 0 10px 10px ;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f6f6f6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button-container p {
    font-size: 16px;
    margin: 5px 0;
}

#gif-selector {
    display: none;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
}

#exportButton {
    margin-left: 20px;
}

.noUi-connect {
    background:  #3291f7;

}
.noUi-base {
    background: #807d75;
}